[Desktop Entry]
Comment=KGuitar Song
Comment[de]=KGuitar Song
DefaultApp=kguitar
Icon=kguitar
Type=MimeType
MimeType=application/x-kguitar
Patterns=*.kg;*.KG;*.kG;*.Kg;
