[KDE Desktop Entry]
Type=Application
Exec=kguitar -caption "%c" %i %m
Icon=kguitar
MimeType=application/x-kguitar
Name=KGuitar
DocPath=kguitar/index.html
Comment=Tabulature editor for music instruments
Comment[de]=Tabulatur-Editor fЭr Musikinstrumente
Comment[ru]=Редактор табулатур для музыкальных инструментов
Terminal=0
