[Desktop Entry]
Type=MimeType
MimeType=application/x-kguitar
Comment=KGuitar tabulature
Comment[de]=KGuitar Tabulatur
DefaultApp=kguitar
Icon=kguitar
Patterns=*.kg;*.KG;
